html,
body {
  padding: 0;
  margin: 0;
  font-family: Sk, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
  color: #5d5d5d;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: Sk;
  src: url(../font/Sk-Modernist-Regular.otf);
}
